[submodule "third-party/ternary-tree"]
	path = third-party/ternary-tree
	url = https://github.com/Conzxy/ternary-tree
[submodule "third-party/takina"]
	path = third-party/takina
	url = https://github.com/Conzxy/takina
[submodule "third-party/chisato"]
	path = third-party/chisato
	url = https://github.com/Conzxy/chisato
[submodule "third-party/kanon"]
	path = third-party/kanon
	url = https://github.com/Conzxy/kanon
[submodule "third-party/hklua"]
	path = third-party/hklua
	url = https://github.com/Conzxy/hklua
[submodule "third-party/replxx"]
	path = third-party/replxx
	url = https://github.com/Conzxy/replxx
